{% extends 'members/base.html' %}
{% load static %}
{% block head_title %}Sign Up{% endblock %}
{% block content %}
<form id="signup-form">
    {% csrf_token %}
    <h2>Sign Up</h2>
    <input type="text" id="signup-username" placeholder="Username" required />
    <input type="email" id="signup-email" placeholder="Email" required />
    <input type="password" id="signup-password" placeholder="Password" required />
    <input type="password" id="confirm-password" placeholder="Password" required />
    <button type="submit">Register</button>
    <p id="signup-status"></p>
</form>

<script src="{% static 'JS/signup.js' %}"></script>
{% endblock %}